.e270_6138 { 
	overflow:hidden;
}
.e270_6138 { 
	width:1442px;
	height:1027px;
	position:absolute;
}
.e270_6082 { 
	background-color:rgba(221.00000202655792, 225.00000178813934, 230.00000149011612, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:2px;
	top:0px;
}
.e270_6083 { 
	background-color:rgba(255, 255, 255, 1);
	width:256px;
	height:1024px;
	position:absolute;
	left:0px;
	top:3px;
}
.e270_6085 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:153.0800018310547px;
	height:182px;
	position:absolute;
	left:51px;
	top:71px;
}
.e270_6093 { 
	background-color:rgba(221.00000202655792, 225.00000178813934, 230.00000149011612, 1);
	width:153.0800018310547px;
	height:182px;
	position:absolute;
	left:631px;
	top:205px;
}
.e270_6087 { /* 메뉴 학습 페이지 */
	color:rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width:100px;
	height:16px;
	position:absolute;
	left:94px;
	top:354px;
	font-family:SeoulHangang CBL;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6091 { /* 메뉴 마이페이지 */
	color:rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width:100px;
	height:16px;
	position:absolute;
	left:94px;
	top:472px;
	font-family:SeoulHangang CBL;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6089 { /* 메뉴 SIGN OUT */
	color:rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width:100px;
	height:16px;
	position:absolute;
	left:94px;
	top:535px;
	font-family:SeoulHangang CBL;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6088 { /* 메뉴 학습 대시보드 */
	color:rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width:120px;
	height:16px;
	position:absolute;
	left:94px;
	top:417px;
	font-family:SeoulHangang CBL;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6092 { 
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:54px;
	position:absolute;
	left:334px;
	top:71px;
	font-family:SeoulHangang CBL;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
}
.e270_6094 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:59px;
	position:absolute;
	left:816px;
	top:247px;
	font-family:SeoulHangang CBL;
	text-align:left;
}
.e270_6095 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:33px;
	position:absolute;
	left:816px;
	top: 290px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e270_6096 { /* NICKNAME */
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:18px;
	position:absolute;
	left:625px;
	top:433px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6120 { /* 바꿀 PW */
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:18px;
	position:absolute;
	left:624px;
	top:649px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6107 { /* 현재 PASSWORD */
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:18px;
	position:absolute;
	left:624px;
	top:541px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6097 { 
	background-color:rgba(255, 255, 255, 1);
	width:437px;
	height:46px;
	position:absolute;
	left:610px;
	top:466px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e270_6097 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e270_6103 { 
	background-color:rgba(255, 255, 255, 1);
	width:437px;
	height:46px;
	position:absolute;
	left:610px;
	top:790px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e270_6103 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e270_6121 { 
	background-color:rgba(255, 255, 255, 1);
	width:437px;
	height:46px;
	position:absolute;
	left:610px;
	top:682px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e270_6121 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e270_6108 { 
	background-color:rgba(255, 255, 255, 1);
	width:437px;
	height:46px;
	position:absolute;
	left:610px;
	top:574px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e270_6108 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e270_6098 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:626px;
	top:480px;
}
.e270_6099 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:0px;
	top:0px;
}
.i270_6099_22_865 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6099_22_865 { 
	width:14.204706192016602px;
	height:8.68065357208252px;
	position:absolute;
	left:2.3674511909484863px;
	top:8.68065357208252px;
}
.i270_6099_22_866 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6099_22_866 { 
	width:7.89150333404541px;
	height:7.102353096008301px;
	position:absolute;
	left:5.524052619934082px;
	top:1.5783007144927979px;
}
.e270_6110 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:626px;
	top:588px;
}
.e270_6111 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:0px;
	top:0px;
}
.i270_6111_22_865 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6111_22_865 { 
	width:14.204706192016602px;
	height:8.68065357208252px;
	position:absolute;
	left:2.3674511909484863px;
	top:8.68065357208252px;
}
.i270_6111_22_866 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6111_22_866 { 
	width:7.89150333404541px;
	height:7.102353096008301px;
	position:absolute;
	left:5.524052619934082px;
	top:1.5783007144927979px;
}
.e270_6129 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:628px;
	top:804px;
}
.e270_6130 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:0px;
	top:0px;
}
.i270_6130_22_865 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6130_22_865 { 
	width:14.204706192016602px;
	height:8.68065357208252px;
	position:absolute;
	left:2.3674511909484863px;
	top:8.68065357208252px;
}
.i270_6130_22_866 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6130_22_866 { 
	width:7.89150333404541px;
	height:7.102353096008301px;
	position:absolute;
	left:5.524052619934082px;
	top:1.5783007144927979px;
}
.e270_6122 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:628px;
	top:696px;
}
.e270_6123 { 
	width:18.93960952758789px;
	height:18.93960952758789px;
	position:absolute;
	left:0px;
	top:0px;
}
.i270_6123_22_865 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6123_22_865 { 
	width:14.204706192016602px;
	height:8.68065357208252px;
	position:absolute;
	left:2.3674511909484863px;
	top:8.68065357208252px;
}
.i270_6123_22_866 { 
	border:1.5783007144927979px solid rgba(24.000000469386578, 25.000000409781933, 31.000000052154064, 1);
}
.ei270_6123_22_866 { 
	width:7.89150333404541px;
	height:7.102353096008301px;
	position:absolute;
	left:5.524052619934082px;
	top:1.5783007144927979px;
}
.e270_6105 { /* 한글 / 영문 1~10자 */
	color:rgba(146.00000649690628, 146.00000649690628, 149.00000631809235, 1);
	width:200px;
	height:23px;
	position:absolute;
	left:660px;
	top:480px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e270_6109 { /* 현재 PW 영문 대/소문자, 숫자, 특수기호 포함 8~16 */
	color:rgba(146.00000649690628, 146.00000649690628, 149.00000631809235, 1);
	width:330px;
	height:23px;
	position:absolute;
	left:660px;
	top:588px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e270_6127 { /* 바꿀 PW 영문 대/소문자, 숫자, 특수기호 포함 8~16 */
	color:rgba(146.00000649690628, 146.00000649690628, 149.00000631809235, 1);
	width:330px;
	height:23px;
	position:absolute;
	left:660px;
	top:695px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e270_6128 { /* PW 확인 */
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:18px;
	position:absolute;
	left:625px;
	top:757px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e270_6134 { /* 확인 PW 영문 대/소문자, 숫자, 특수기호 포함 8~16 */
	color:rgba(146.00000649690628, 146.00000649690628, 149.00000631809235, 1);
	width:330px;
	height:23px;
	position:absolute;
	left:660px;
	top:805px;
	font-family:SeoulHangang CB;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e270_6135 { 
	background-color:rgba(0, 0, 0, 1);
	width:437px;
	height:46px;
	position:absolute;
	left:610px;
	top:878px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e270_6136 { /* 수정완료 */
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:23px;
	position:absolute;
	left:800px;
	top:889px;
	font-family:SeoulHangang CB;
	text-align:center;
	font-size:16.57215690612793px;
	letter-spacing:0;
	line-height:px;
}
.e270_6137 { 
	border:2.3674511909484863px solid rgba(255, 255, 255, 1);
}
.e270_6137 { 
	width:4.734902381896973px;
	height:9.469804763793945px;
	position:absolute;
	left:885px;
	top:895px;
}
