.e296_3574 {
	overflow: hidden;
}

.e296_3574 {
	width: 1440px;
	height: 1024px;
}

.e296_3519 {
	width: 1440px;
	height: 1024px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e296_3409 {
	background-color: rgba(175, 238, 238, 1);
	width: 1440px;
	height: 1024px;
	position: absolute;
}

.e296_3411 {
	background-color: rgba(255, 255, 255, 1);
	width: 255.8223419189453px;
	height: 1007px;
	position: absolute;
	border: 8px solid rgb(152, 251, 152);
}

.e296_3410 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 152.97377014160156px;
	height: 182px;
	position: absolute;
	left: 51px;
	top: 40px;
}

.e296_3412 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 258.82025146484375px;
	height: 73px;
	position: absolute;
	left: 0px;
	top: 339px;
}

.e296_3454 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 99.93060302734375px;
	height: 16px;
	position: absolute;
	left: 82.9423828125px;
	top: 368px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e296_3455 {
	background-color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 13.329319953918457px;
	height: 7.669074535369873px;
	position: absolute;
	left: 199.861328125px;
	top: 372px;
}

.e296_3456 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 81.9430923461914px;
	height: 16px;
	position: absolute;
	left: 101px;
	top: 430px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e296_3458 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 100px;
	height: 16px;
	position: absolute;
	left: 101px;
	top: 474px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e296_3457 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 100px;
	height: 16px;
	position: absolute;
	left: 88px;
	top: 520px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e296_3459 {
	width: 258.8209533691406px;
	height: 88px;
	position: absolute;
	left: 1px;
	top: 412px;
}

.e296_3460 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 257.8209533691406px;
	height: 44px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 10px;
}

.e296_3460 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e296_3461 {
	background-color: rgba(255, 255, 255, 1);
	width: 257.8209533691406px;
	height: 44px;
	position: absolute;
	left: 1px;
	top: 44px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e296_3461 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e296_3462 {
	color: rgba(0, 0, 0, 1);
	width: 99.93060302734375px;
	height: 21px;
	position: absolute;
	left: 83px;
	top: 10px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e296_3463 {
	color: rgba(0, 0, 0, 1);
	width: 99.93060302734375px;
	height: 21px;
	position: absolute;
	left: 83px;
	top: 57px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}

.e296_3465 {
	color: rgba(0, 0, 0, 1);
	width: 377.7376708984375px;
	height: 44px;
	position: absolute;
	left: 339.76416015625px;
	top: 0px;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
}

.e296_3489 {
	background-color: rgba(255, 255, 255, 1);
	width: 231px;
	height: 45px;
	position: absolute;
	left: 1097px;
	top: 27px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 4px solid black;
}

.e296_3490 {
	color: rgba(194.00000363588333, 194.00000363588333, 194.00000363588333, 1);
	width: 172.87994384765625px;
	height: 15.75px;
	position: absolute;
	left: 28.9794921875px;
	top: 15px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.20000000298023224;
}

.e296_3491 {
	width: 23.98334503173828px;
	height: 23.630769729614258px;
	position: absolute;
	left: 22.984375px;
	top: 11px;
}

.i296_3491_3_9146 {
	border: 2px solid rgba(158.00000578165054, 158.00000578165054, 158.00000578165054, 1);
}

.ei296_3491_3_9146 {
	width: 15.988896369934082px;
	height: 15.753847122192383px;
	position: absolute;
	left: 2.997918128967285px;
	top: 2.9538462162017822px;
}

.i296_3491_3_9147 {
	border: 2px solid rgba(158.00000578165054, 158.00000578165054, 158.00000578165054, 1);
}

.ei296_3491_3_9147 {
	width: 4.346982955932617px;
	height: 4.283077239990234px;
	position: absolute;
	left: 16.638444900512695px;
	top: 16.39384651184082px;
}

.e296_3494 {
	background-color: rgba(242.00000077486038, 244.0000006556511, 248.0000004172325, 1);
	width: 1027.28662109375px;
	height: 71px;
	position: absolute;
	left: 339.76416015625px;
	top: 87px;
}

.e296_3494 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e296_3495 {
	background-color: rgba(242.00000077486038, 244.0000006556511, 248.0000004172325, 1);
	width: 347.7585144042969px;
	height: 77px;
	position: absolute;
	left: 339.76416015625px;
	top: 158px;
}

.e296_3495 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e296_3496 {
	background-color: rgba(242.00000077486038, 244.0000006556511, 248.0000004172325, 1);
	width: 333.7682189941406px;
	height: 77px;
	position: absolute;
	left: 1033.2822265625px;
	top: 158px;
}

.e296_3496 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e296_3497 {
	background-color: rgba(242.00000077486038, 244.0000006556511, 248.0000004172325, 1);
	width: 345.7598876953125px;
	height: 77px;
	position: absolute;
	left: 687.5224609375px;
	top: 158px;
}

.e296_3497 {
	border: 1px solid rgba(0, 0, 0, 1);
}

.e296_3502 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 491.6585693359375px;
	height: 45px;
	position: absolute;
	left: 621.568359375px;
	top: 101px;
	text-align: center;
	font-size: 32px;
	letter-spacing: 0;
}

.e296_3503 {
	color: rgba(0, 0, 0, 1);
	width: 149px;
	height: 45px;
	position: absolute;
	left: 438px;
	top: 174px;
	text-align: center;
	font-size: 32px;
}

.e296_3504 {
	width: 23.98334503173828px;
	height: 24px;
	position: absolute;
	left: 651.54736328125px;
	top: 185px;
}

.ei296_3504_105_30957 {
	background-color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 13.329319953918457px;
	height: 7.669075012207031px;
	position: absolute;
	left: 5.397963523864746px;
	top: 8.058712005615234px;
}

.e296_3511 {
	width: 23.98334503173828px;
	height: 24px;
	position: absolute;
	left: 995.30859375px;
	top: 185px;
}

.ei296_3511_105_30957 {
	background-color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 13.329319953918457px;
	height: 7.669075012207031px;
	position: absolute;
	left: 5.397963523864746px;
	top: 8.058712005615234px;
}

.e296_3513 {
	width: 23.98334503173828px;
	height: 24px;
	position: absolute;
	left: 1329.0771484375px;
	top: 185px;
}

.ei296_3513_105_30957 {
	background-color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 13.329319953918457px;
	height: 7.669075012207031px;
	position: absolute;
	left: 5.397963523864746px;
	top: 8.058712005615234px;
}

.e296_3509 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 149.89590454101562px;
	height: 45px;
	position: absolute;
	left: 1138.2099609375px;
	top: 174px;
	text-align: center;
	font-size: 32px;
	letter-spacing: 0;
}

.e296_3510 {
	color: rgba(105.00000134110451, 112.000000923872, 119.00000050663948, 1);
	width: 149.89590454101562px;
	height: 45px;
	position: absolute;
	left: 792.44970703125px;
	top: 174px;
	text-align: center;
	font-size: 32px;
	letter-spacing: 0;
}

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	margin: 20px;
	left: 55px;
	bottom: 100px;
}

.category-btn {
	max-width: 200px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	margin-bottom: 50px;
	text-decoration: none;
	/* 링크에 밑줄 제거 */
	color: #333;
	/* 버튼 텍스트 색상 */
	display: inline-block;
	/* 인라인 레벨 요소로 변경 */
	border: 2px solid rgb(152, 251, 152);
}

.category-btn:hover {
	transform: translateY(-5px);
}

.category-icon {
	font-size: 20px;
	margin-top: 20px;
	color: #5e72e4;
}

.category-title {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
}

.search-container3 {
	display: flex;
	align-items: center;
	position: absolute;
	left: 1100px;
	top: 30px;
	width: 600px;
	/* 원하는 너비로 조절 가능 */
	margin-bottom: 20px;
}

#search-input3 {
	flex: 1;
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 20px;
	margin-right: 10px;
	border: 3px solid black;
	/* 입력란과 버튼 사이 간격 조절 */
}

#search-btn3 {
	padding: 10px 20px;
	background-color: #98e01b;
	/* 원하는 색상으로 변경 가능 */
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.e296_35111 {
	background-color: white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 1035px;
	height: 61px;
	left: 338px;
	top: 72px;
	position: absolute;
	font-size: 35px;
	text-align: center;
}

/*================================================================*/
.custom-container {
	background-color: white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 1035px;
	height: 80px;
	left: 338px;
	top: 155px;
	position: absolute;
}

.custom-categories {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 25px;
}

.custom-category-btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	color: #fff;
	transition: background-color 0.3s ease;
}

.custom-category-btn:hover {
	background-color: #77b516;
}

.custom-subcategories {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	background-color: #fff;
	width: 500px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	top: 155px;
	z-index: 1;
}

.show-subcategories {
	display: flex;
	width: 310px;
	background-color: white;
}

.custom-subcategory {
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 5px;
	margin-bottom: 8px;
	background-color: #f0f0f0;
	transition: background-color 0.3s ease;
	width: 280px;
}

.custom-subcategory:hover {
	background-color: white;
}

#custom-type-category .custom-category-title1 {
	width: 240px;
	background-color: #77b516;
	border-radius: 20px;
	text-align: center;
	font-family: "Gowun Dodum", sans-serif;
}

#custom-date-category .custom-category-title2 {
	width: 240px;
	background-color: #77b516;
	border-radius: 20px;
	text-align: center;
	font-family: "Gowun Dodum", sans-serif;
}

#custom-subject-category .custom-category-title3 {
	width: 240px;
	background-color: #77b516;
	border-radius: 20px;
	text-align: center;
	font-family: "Gowun Dodum", sans-serif;
}

.custom-category-icon {
	margin-right: 10px;
}

.e296_3465 {
	box-shadow: 0px 0px 5px -50px #a4e271;
	background-color: #89c403;
	background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	color: #ffffff;
	width: 180px;
	height: 44px;
	position: absolute;
	left: 339.76416015625px;
	top: 30px;
	font-family: SeoulHangang CBL;
	text-align: center;
	font-size: 28px;
	letter-spacing: 0;
	border-color: #98e01b;
	border-width: 3;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.e296_3465:hover {
	transform: translateY(-5px);
}

.e296_3466 {
	box-shadow: 0px 0px 5px -50px #a4e271;
	background-color: #89c403;
	background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	color: #ffffff;
	width: 180px;
	height: 44px;
	position: absolute;
	left: 525px;
	top: 30px;
	font-family: SeoulHangang CBL;
	text-align: center;
	font-size: 28px;
	letter-spacing: 0;
	border-color: #98e01b;
	border-width: 3;
	border-radius: 10px;
	transition: transform 0.3s ease-in-out;
}

.e296_3466:hover {
	transform: translateY(-5px);
}

.e296_3464 {
	background-color: white;
	width: 1035px;
	height: 920px;
	left: 330px;
	top: 87px;
	position: absolute;
	border: 8px solid rgb(152, 251, 152);

}

/*==========================================================*/
.file-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.file-item {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 60px;
	margin-bottom: 30px;
	/* 각 아이템 간격 설정 */
	text-align: center;
	cursor: pointer;
}

.file-icon {
	font-size: 100px;
	color: #3498db;
}
.file-label {
	margin-top: 5px;
	font-size: 16px;
	color: #333;
}